<mat-grid-list cols="3" rowHeight="1:1" >
  <mat-grid-tile [colspan]="1">

    <app-upload [(url)]=picurl [editmode]=editEnabled ></app-upload>
    <label for="cbeditmode">Edit mode</label>
    <input #cbeditmode id="cbeditmode" [checked]="editEnabled" (change)="editEnabled=cbeditmode.checked" type="checkbox">
    <button class="button" (click)="clear()">Clear</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [ngStyle]="{'width' : '100%'}">
    <h2>Your orders</h2>
    <br/>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor="let item of order"
                         [ngStyle]="{'width' : '100%'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <b>Date :</b><span [ngStyle]="{'float':'right'}">{{item.date}}</span><br />
      <b>Time :</b> <span [ngStyle]="{'float':'right'}">{{item.time}}</span><br />
      <b>Order value :</b><span [ngStyle]="{'float':'right'}"> Rs.{{item.sum}}</span>
    </mat-expansion-panel>

  </mat-grid-tile>
  <br/>
</mat-grid-list>
