<form>

  <mat-form-field class="formfield" appearance="outline">
    <mat-label>Username/Email *</mat-label>
    <input matInput placeholder="Enter">

  </mat-form-field>
  <br />
  <mat-form-field  class="formfield" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter">
  </mat-form-field>

  <br />
  <mat-form-field  class="formfield" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Confirm Password">
  </mat-form-field>
  <br />
  <button type="submit" mat-raised-button>Signup</button>


</form>
