<h2>List of all our Medicines</h2>
<mat-card  *ngFor="let medicine of medicines">
  <mat-card-title>{{medicine.name | uppercase}}</mat-card-title>
  <img mat-card-image src={{medicine.image}}>
  <mat-card-content>
    <span>{{medicine.price | currency : 'INR'}}</span>
    <p>{{medicine.desc}}</p>
    <a [routerLink]="['/medicine',medicine.id]"><button mat-button (click)="changeMed(medicine)">Buy Now</button></a>
    <button mat-button (click)="addMed(medicine)">Add to cart</button>
  </mat-card-content>
</mat-card>
