<mat-toolbar color="primary">
  <span>
    <a routerLink="/" routerLinkActive="mat-accent">MyMed</a>
  </span>
  <form id="demo-1">
    <input type="search" placeholder="Search">
  </form>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/home" routerLinkActive="mat-accent">My Account</a>
    </li>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/doclist" routerLinkActive="mat-accent">Book Doc</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button (click)="logout()">Logout</button>
    </li>
    <li *ngIf="isAuthenticated">
      <app-cart></app-cart>
    </li>
  </ul>
</mat-toolbar>

