<div fxShow="true" fxHide.gt-sm="true">
  <mat-toolbar >
  <mat-toolbar-row>
   <span>
    <a routerLink="/" routerLinkActive="mat-accent">MyMed</a>
  </span>
    <span class="spacer"></span>
    <div *ngIf="isAuthenticated" [ngStyle]="{'margin-right': '15px'}">
      <app-cart></app-cart>
    </div>
    <button class="menu" (click)="sidenav()">
   <div></div>
      <div></div>
      <div></div>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
</div>

  <div fxShow="true" fxHide.lt-md="true">
  <mat-toolbar>
  <span>
    <a routerLink="/" routerLinkActive="mat-accent">MyMed</a>
  </span>

  <div fxFlex fxShow=”true” fxHide.lt-md=”true”>

    <form class="example-form">
      <mat-form-field >
        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            <img class="example-option-img" aria-hidden [src]="state" height="25">
            <span>{{state}}</span> |
            <small>Population: {{state}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


    </form>

  </div>
  <span class="spacer"></span>
  <div fxFlex fxShow=”true” fxHide.lt-md=”true”>

  <ul>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/home" routerLinkActive="mat-accent">My Account</a>
    </li>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/doclist" routerLinkActive="mat-accent">Book Doc</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button (click)="logout()">Logout</button>
    </li>
    <li *ngIf="isAuthenticated">
      <app-cart></app-cart>
    </li>
  </ul>
  </div>
</mat-toolbar>
</div>

<li *ngFor="let c of characters | filter : search">
  {{c}}
</li>
