mat-card{
    display: inline-block;
    margin: 10px 30px;
    height: auto;

  }

@media screen and (min-width : 600px) {
  mat-card{
    width: 20%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
}

@media screen and (max-width : 600px) {
  mat-card {
    width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
}

  .example-header-image {
    background-image: url('https://ssl.gstatic.com/images/branding/product/1x/avatar_square_blue_512dp.png');
    background-size: cover;
  }

h2{
  color: grey;
  text-align: center;
  padding: 20px ;
}

a{
  color:green;
}
