mat-card {
    display: inline-block;
    margin: 10px 20px;
  border: dot-dash black;
  max-height: 300px;
  min-height: 300px;
  }
.card{
  border: black;
}
@media screen and (min-width : 600px) {
  mat-card{
    width: 30%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 30%;
  }
}
h2{
  color: grey;
  text-align: center;
  padding: 20px ;
}
