<h2>Get a Glimpse of our collection</h2>
<mat-card class="mat-elevation-4" *ngFor="let medicine of medicines">
  <mat-card-title>{{medicine.name | uppercase}}</mat-card-title>
<img mat-card-image [src]="cardimage">
<mat-card-content>
<span>{{medicine.price | currency}}</span>
<p>{{medicine.desc}}</p>
  <a [routerLink]="['/medicine',medicine.id]"><button mat-button (click)="changeMed(medicine)">Buy Now</button></a>
  <button mat-button (click)="AddMed(medicine)">Add to cart</button>
</mat-card-content>
</mat-card>
