mat-card {
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 30%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 30%;
    display: inline-block;
    
  }