<h2>Get a Glimpse of our collection</h2>
<div class="center">
<mat-card  *ngFor="let medicine of medicines">
  <mat-card-title>{{medicine.name | uppercase}}</mat-card-title>
<img mat-card-image src={{medicine.image}}>
<mat-card-content>
<span>{{medicine.price | currency : 'INR'}}</span>
<p>{{medicine.desc}}</p>
  <a [routerLink]="['/medicine',medicine.id]"><button mat-button (click)="changeMed(medicine)">Buy Now</button></a>
  <button mat-button (click)="addMed(medicine)">Add to cart</button>
</mat-card-content>
</mat-card>
<br/>
</div>
<a routerLink="/medlist"><button mat-raised-button id="more" [style.float]="'right'">SEE MORE</button></a>

<div id="scene">
</div>

<h2>Book an Appointment</h2>
<div class="center">
  <mat-card  *ngFor="let doctor of doctors | slice:0:3" [ngStyle] = "{'box-shadow': '2px 2px 2px 2px grey'}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dr. {{doctor.name}}</mat-card-title>
      <mat-card-subtitle>{{doc2tor.speciality}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [@hover]="currentstate">
      <span>Visit : {{doctor.visit | currency : 'INR'}}</span>
      <p  >{{doctor.description}}</p>
      <mat-form-field [ngStyle] = "{'width': '100%'}">
        <mat-label>Select Date</mat-label>
        <mat-select #date>
      <mat-option *ngFor="let days of doctor.apptdate; let i = index" [value]="days">
        {{days}}
      </mat-option>
      </mat-select>
      </mat-form-field>
      <button (click)="bookDoc(doctor.id, date.value)" [ngStyle] = "{'width': '100%', 'background-color' : 'blue', 'color' : 'white'}" mat-raised-button>Book</button>
    </mat-card-content>
  </mat-card>
</div>
<br/>
<a routerLink="/doclist"><button id="more" mat-raised-button [style.float]="'right'">SEE MORE</button></a>
<br/>
<br/>
<br/>
<br/>
<br/>

